html, body, #root, .room {
    height: 100%;
    margin: 0;
}

.lit {
    background-color: white;
    color: black;
    text-align: center;
}

.dark {
    background-color: black;
    color: white;
    text-align: center;
}
